body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

label {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.eleven {
    background-color: #f8f5f5;
    position: relative;
    padding: 3px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 4;
    height: fit-content;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


.eleven h1 {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    justify-content: space-between;
    position: relative;
    font-size: 17px;
    text-align: center;
    line-height: 1.5em;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
    margin-left: 50px;
    margin-top: 13px;
    z-index: 7;
    user-select: none;
}

#logo {
    height: 50px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(1.1);
}

#logo-text {
    margin-left: 10px;
    line-height: 30px;
    color: #181813;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    text-shadow: 3px 3px 6px rgba(211, 74, 40, 0.5);
    font-size: 23px;
}

#menu-icon {
    color: #020101;
    font-size: 23px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 45px;
}

#search-box {
    display: flex;
    align-items: center;
    margin-left: 40px;
    background-color: rgba(206, 206, 206, 0.7);
    padding: 7px;
    border: none;
    letter-spacing: 0.5px;
    border-radius: 5px;
    width: 300px;
}

#search-icon {
    margin-right: 5px;
}

#search-input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(206, 206, 206, 0.2);
    width: 100%;
    color: rgb(58, 57, 57);
}

#search-input:focus {
    outline: none;
    border: 1px solid rgb(143, 142, 142, 0.7);
}

.my-link-page {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    color: rgb(58, 57, 57);
    font-size: 18px;
    margin-left: 50px;
}

.my-link-page:hover {
    text-decoration: underline !important;
    box-shadow: 0 10px 10px rgba(110, 240, 121, 0.4)
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    margin-left: 50px;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.2s;
    z-index: 10000;
}

.overlay-side {
    height: 100%;
    position: absolute;
    top: 0;
}

.overlay-side-white {
    width: 75%;
    right: 25%;
    background: rgba(128, 128, 128, 0.6);
}

.overlay-side-black {
    width: 25%;
    right: 0;
    position: absolute;
    background: black;
    box-shadow: -20px 0 20px rgba(0, 0, 0, 0.19), -12px 0 6px rgba(0, 0, 0, 0.23);
}

#logo-timesync {
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #bfc07c;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    user-select: none;
    text-shadow: 3px 3px 6px rgba(211, 74, 40, 0.5);
}

#signup-button,
#signin-button {
    margin: auto;
}

#signup-button {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    display: block;
    order: 1;
}

#signin-button {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #000000;
    color: white;
    cursor: pointer;
    display: block;
    order: 2;
    margin-bottom: 40px;
}

#signup-button:hover {
    background-color: #2b642f;

}

#signin-button:hover {
    background-color: rgba(223, 217, 217, 0.2);

}

.my-link1 {
    text-decoration: none;
    color: white;
    margin-left: 18px;
    margin-bottom: 20px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease;
}

.my-link1:hover {
    text-decoration: underline;
    transform: scale(1.1) translateX(20px);
}


.social-icons a i {
    color: #ffffff;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover i {
    transform: scale(1.2);
    color: #9c7878;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    color: #ffffff;
}

.social-icons i {
    margin-top: 110px;
    margin-bottom: 36px;
    font-size: 25px;
    /* Adjust size as needed */
}



/* Style h2 */
h2 {
    color: #333;
    margin: 20px;
    font-family: "Playfair Display", serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 15;
    user-select: none;
    padding-left: 40px;
    padding-right: 40px;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;
}


select,
input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;

}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 20px auto;
    max-height: 300px;
    overflow-y: auto;
    display: block;
    table-layout: fixed;
}

th,
td {
    padding: 8px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #4CAF50;
    color: white;
    top: 0;
    z-index: 1;
}

table tr:hover {
    background-color: #e6e6e6;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* syle of h2: eda */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -110px;
    margin-bottom: -120px;
    padding-bottom: 0px;
}

.image-container img {
    width: 60%;
    height: 60%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: transform .2s;
}

.image-container img:hover {
    transform: scale(1.05);
    cursor: move;
}

#toggle-form {
    vertical-align: middle;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 440,
        'GRAD' 0,
        'opsz' 24
}

.container-btn-file {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #307750;
    color: #fff;
    text-align: center;
    border-style: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    overflow: hidden;
    z-index: 1;
    box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
    transition: all 250ms;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container-btn-file input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.container-btn-file>svg {
    margin-right: 1em;
}

.container-btn-file::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    border-radius: 0.5em;
    background-color: #469b61;
    z-index: -1;
    transition: all 350ms;
}

.container-btn-file:hover::before {
    width: 100%;
}


/* 4 - Predict */
.container-form-predict {
    display: flex;

}

.selection-predict,
.chart {
    width: 50%;
}

.chart {
    height: 400px;
    margin: auto;
}

.selection-predict {
    background-color: #f0f0f0;
    padding-bottom: 10px;
}

.chart {
    background-color: #d0d0d0;
    /* Dark gray */
    display: flex;
    justify-content: flex-end;
}


#algorithm,
#column_output,
#column_prediction {
    padding-left: 10px;
    margin: 10px 0;
    width: 280px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 45%;
    border: none;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
}

.header-adjust {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 15px;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#parameter_title {
    text-align: center;
}

.container-choosepara {
    display: flex;

}

.container-choosepara .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 180px;
    color: #ffffff;
    background-color: #2e2e2e;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
}

.item.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-group,
#split-selection {
    margin-bottom: 15px;
}

.input-group {
    position: relative;
}

.input-para {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    height: 10px;
    width: 170px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-para:focus,
.input-para:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input-para:focus~label,
.input-para:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
}

.item.right .input-group:first-child {
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

#resetButton,
#saveButton {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}

#resetButton {
    background-color: #f44336;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

#resetButton:hover {
    background-color: #d32f2f;
}

#saveButton {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#saveButton:hover {
    background-color: #388e3c;
}

.customCheckBoxHolder {
    margin: 5px;
    display: flex;
    padding-left: 45px;
    margin-right: 45px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
}

.customCheckBox {
    width: fit-content;
    /* position: relative; */
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    color: rgba(241, 50, 50, 0.774);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
}

.customCheckBox:hover {
    background-color: #2c2c2c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
    font-size: 13px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
}

.customCheckBox:hover .inner {
    transform: translateY(-2px);
}

.customCheckBoxWrapper {
    margin: 2px;
    border-radius: 5px;
}


.customCheckBoxInput {
    display: none;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox {
    background-color: #2d6737;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox .inner {
    transform: translateY(-2px);
}

.customCheckBoxInput:checked+.customCheckBoxWrapper .customCheckBox:hover {
    background-color: #34723f;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
}



#infor_predict {
    justify-content: center;
    align-items: center;
    margin-left: 43px;
    margin-right: 47px;

    border-radius: 10px;
    background-color: rgba(243, 202, 82, 0.6);
    padding-bottom: 10px;
}

#checkboxrealvalue {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    border: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    user-select: none;
}

#showRealValue,
#useExistingModel,
#usechild {
    transform: scale(1.3);
    margin-right: 10px;
    cursor: pointer;
}



#mseContainer,
#rmseContainer,
#maeContainer {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    border: 0.5px solid #080808;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

#dodo {
    width: 50px;
}

#dodo1,
#dodolag {
    width: 100px;
    white-space: nowrap;
}

#mse,
#rmse,
#mae,
#epoch,
#batchsize,
#splitdata,
#hiddenlayer,
#windowsize,
#neuron,
#orderlag,
#splitdatavar {
    margin-left: 5px;
    font-size: 15px;
    user-select: none;
}

#maeDisplay,
#rmseDisplay,
#mseDisplay {
    margin-left: 10px;
    font-size: 15px;
}

#viewParameters {
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-radius: 5px;
    border: none;
    height: 38px;
    background-color: #7ABA78;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    user-select: none;
}

#viewParameters:hover {
    background-color: #4e704e;
}

#EpochBatchSize,
#SplitHiddenlayer,
#neuronWindowsize,
#lagOrderContainer,
#neuronlagorder,
#lagorderVarnnContainer,
#movingavgContainer,
#differencingContainer {
    display: flex;
    margin-left: 43px;
    margin-right: 47px;
    margin-top: 10px;
    height: 30px;
}

#epochcontainer,
#batchsizecontainer,
#hiddenlayercontainer,
#splitcontainer,
#windowsizecontainer,
#neuroncontainer,
#splitvarcontainer,
#ordercontainer,
#lagorderVarnnContainer,
#movingavgContainer,
#differencingContainer {
    align-items: center;
    flex: 1;
    /* justify-content: space-between; */
    border: none;
    border-radius: 5px;
    background-color: rgba(120, 171, 168, 0.3);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

#dodolag {
    margin-right: 5px;
}

#epochcontainer div,
#batchsizecontainer div,
#hiddenlayercontainer div,
#splitcontainer div,
#windowsizecontainer div,
#neuroncontainer div,
#splitvarcontainer div,
#ordercontainer div {
    flex: 1;
}

#epochcontainer p,
#batchsizecontainer p,
#hiddenlayercontainer p,
#splitcontainer p,
#windowsizecontainer p,
#neuroncontainer p,
#splitvarcontainer p,
#ordercontainer p {
    flex: 1;
}


#batchsizecontainer,
#hiddenlayercontainer,
#windowsizecontainer,
#ordercontainer {
    margin-left: 10px;
}

#predictionInput {
    height: 40px;
    width: 218px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
}

/* Additional */
#Btn-arrow-up {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#Btn-arrow-up:hover {
    background-color: #333;
}

#feedback-button {
    position: position;
    right: 0;
    top: 50%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: fixed;
    cursor: pointer;
    padding: 15px 8px;
    border-radius: 0 5px 5px 0;
    border: 0.1px dashed #0f864e;
    transition: transform 0.3s ease;
    background-color: #0f864e;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

#feedback-button:hover {
    background-color: #15ad29;
    transform: rotate(180deg) scaleX(1.1);
    padding-left: 20px;
}

#feedback-button:active {
    transform: rotate(180deg) scaleX(1.1) translateX(-20px);
}

.fas.fa-comment-dots {
    transform: scaleX(-1) rotate(180deg);
    color: #ffffff;
    margin-bottom: 7px;
}

#feedback-label {
    position: fixed;
    right: 50px;
    top: 45%;
    width: 350px;
    height: 200px;
    background-color: transparent;
}

#close-label {
    position: absolute;
    top: 10px;
    right: 5px;
    color: rgb(230, 230, 230);
    margin-right: 20px;
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
}

#close-label:hover {
    color: rgb(218, 149, 149);
    transform: scale(1.1);
}


#text-fb {
    position: absolute;
    top: 17px;
    width: 100%;
    height: 300px;

    align-items: center;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    justify-content: center;
    z-index: 0;
    border: none;
}

.rating-card {
    width: 280px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #468049;
    background: linear-gradient(to right bottom, #255823, #0f0c29);
    padding: 20px 20px;
    border-radius: 10px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
}

.text-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.text-primary {
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.text-secondary {
    color: #cccccc;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.rating-stars-container {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.star-label svg {
    fill: rgb(210, 210, 210);
    width: 20px;
    height: auto;
}

.rating-stars-container input {
    appearance: unset;
}

.rating-stars-container input:hover~.star-label svg {
    fill: rgb(255, 204, 185);
}

.rating-stars-container input:checked~.star-label svg {
    fill: rgb(255, 102, 47);
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-fwd-center {
    0% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

.socials-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid rgb(150, 150, 150);
}

#alert-load-data-error {
    position: fixed;
    top: 90px;
    right: 22px;
    width: 270px;
    background-color: rgb(223, 132, 132);
    color: white;
    padding: 10px;
    border-radius: 8px;
    transition: opacity 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    animation: slideInDown 0.5s;
}

#alert-save-param-failed {
    position: fixed;
    top: 90px;
    right: 22px;
    width: 270px;
    background-color: rgb(223, 132, 132);
    color: white;
    padding: 10px;
    border-radius: 8px;
    transition: opacity 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    animation: slideInDown 0.5s;
    z-index: 9998;

}

#alert-load-data-success,
#alert-save-param-success,
#alert-eda-data-success {
    position: fixed;
    top: 90px;
    right: 22px;
    width: 200px;
    background-color: rgb(73, 199, 94);
    color: white;
    padding: 10px;
    border-radius: 8px;
    transition: opacity 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    animation: slideInDown 0.5s;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}